---
layout: default
is_index: true
page: home
selected: home
---
<main id="homepage">
  <section class="general-section about-me">
    <div class="container">
      <p>My name is Stephen and I am a software engineer from Belfast currently
      working at <a href="http://shopkeep.com">ShopKeep</a>. I use Python, Ruby
      and Elixir on a daily basis. The only true editor is Vim. Oh and I
      really, really hate meetings.</p>
      <p>Find out more about me: <a href="/cv.pdf">Download my CV</a>.</p>
    </div>
  </section>

  <section class="blog-post-section">
    <div class="block-colour"></div>
    <div class="container">
      <h2>Latest Posts</h2>
      <ul>
      {% for post in site.posts limit:2 %}
        <li class="blog-post">
          <div class="featured-image" style="background-image: url({{ post.image-small }});"></div>
          <div class="text">
            <p class="meta">{{ post.date | date: "%b %-d, %Y" }}</p>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.content | strip_html | truncatewords:17}}</p>
            <a class="read-more" href="{{ post.url }}">Read More</a>
          </div>
        </li>
      {% endfor %}
     </ul>
      <div class="button-container">
        <a href="{{ site.baseurl }}/blog/" class="button">See more posts</a>
      </div>
    </div>
  </section>

  <section class="work-example-section">
    <div class="block-colour"></div>
    <div class="container">
      <h2>Featured Work</h2>
        <ul>
          {% for post in site.posts %}
            {% if post.work_article and post.featured %}
              <li class="work-example">
                <div class="featured-image" style="background-image: url({{ post.image-small }});"></div>
                <div class="text">
                  <p class="meta">{% for post_tag in post.tech %}{{ post_tag }} {% endfor %}</p>
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  <p>{{ post.content | strip_html | truncatewords:7}}</p>
                  <a class="read-more" href="{{ post.url }}">Learn More</a>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="button-container">
          <a href="work/" class="button">View more work</a>
        </div>
      </div>
  </section>

</main>

