<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="={{ site.description }}">

<link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
<link rel="icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">

  <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

<link rel="stylesheet" type="text/css" href="{{ '/stylesheets/screen.css' | prepend: site.baseurl }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="{{ '/js/all.js' | prepend: site.baseurl }}"></script>
<script src="//use.typekit.net/mtp4mlm.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>